body
{
margin: 0;
padding: 0;
background-image : url(viruss.jpeg);
animation: bgcolor infinite 20s;

}

@keyframes bgcolor
{
	0%
	{
	background: #e74c3c;
	}
	20%
	{
	background: #2ecc71;
	}
	40%
	{
	background: #f1c40f;
	}
	60%
	{
	background: #9b59b6;
	}
	80%
	{
	background: #f1c40f;
	}
	100%
	{
	background: #d35400;
	}

}

.content {
width: 1500px;
  height: 1000px;
  display: block;
  position: relative;
background-image:url('fusion.jpg');
background-size: 1500px 1000px;
content: "";
  opacity: 0.57;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  z-index: -1;   
}

.intro
{
background-color : #70a1ff;
width: 300px;
  height: 300px;
  display: block;
  position: absolute;
top:250px;
  left:30px;
  bottom: 10px;
  right: 0px;
  position:absolute ;

  color: black;
  text-shadow: 2px 2px 4px #ecf0f1;

}


.reduce
{

background-color : #95a5a6;
width: 300px;
  height: 300px;
  display: block;
  position: absolute;
top:250px;
  left:350px;
  bottom: 0px;
  right: 100px;
  position: absolute;

  color: black;
  text-shadow: 2px 2px 4px #ecf0f1;
}

.conduct
{

background-color : #f1c40f;
width: 300px;
  height: 300px;
  display: block;
  position: absolute;
top:250px;
  left:670px;
  bottom: 0px;
  right: 100px;
  position: absolute;

  color: black;
  text-shadow: 2px 2px 4px #ecf0f1;
}



.detect
{

background-color : #1abc9c;
width: 300px;
  height: 300px;
  display: block;
  position: absolute;
top:250px;
  left:1000px;
  bottom: 0px;
  right: 100px;
  position: absolute;

  color: black;
  text-shadow: 2px 2px 4px #ecf0f1;
}


.meme
{
background-color : #bdc3c7;
width: 300px;
  height: 300px;
  display: block;
  position: absolute;
top:620px;
  left:30px;
  bottom: 10px;
  right: 0px;
  position:absolute ;

  color: black;
  text-shadow: 2px 2px 4px #ecf0f1;

}



.abtcovid
{

background-color : #95a5a6;
width: 1000px;
  height: 370px;
  display: block;
  position: absolute;
top:620px;
  left:350px;
  bottom: 0px;
  right: 100px;
  position: absolute;

  color: black;
  text-shadow: 2px 2px 4px #ecf0f1;
}


.res
{

background-color : #1abc9c;
width: 150px;
  height: 300px;
  display: block;
  position: absolute;
top:270px;
  left:1330px;
  bottom: 0px;
  right: 100px;
  position: absolute;

  color: black;
  text-shadow: 2px 2px 4px #ecf0f1;
}
